<form enctype="multipart/form-data" action="/virtualart/art/add" method="post">
<p><label for="id_subject">name</label>
    <input id="id_subject" type="text" name="name" maxlength="100" /></p>
<p><label for="id_message">longitude</label>
    <input type="text" name="longitude" id="id_message" /></p>
<p><label for="id_message">latitude</label>
    <input type="text" name="latitude" id="id_message" /></p>
<p><label for="id_message">direction</label>
    <input type="text" name="direction" id="id_message" /></p>
<p><label for="id_message">elevation</label>
    <input type="text" name="elevation" id="id_message" /></p>
<p><label for="id_message">pitch</label>
    <input type="text" name="pitch" id="id_message" /></p>
<p><label for="id_message">direction</label>
    <input type="text" name="direction" id="id_message" /></p>
<input type="file" name="image" size="40">
<input type="submit" value="Submit" />
</form>

